body{
    /*background: url("../images/bg.jpg");*/
    color: #000;
}
.nav-pills > li > a {
    border-bottom: 3px solid transparent;
    color: #000;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    color: #F168AA;
    border-color: #F168AA;
}
.dropdown-menu > li > a {
    display: block;
    padding: .5em 1em;
    clear: both;
    font-weight: 400;
    line-height: 1;
    color: #000;
    white-space: nowrap;
}
.thumbnail .caption {
    padding: 2em;
    color: #000;
    border: 1px solid #e6e6e6;
    border-top: 0;
}
@media (min-width: 768px){
    .navbar-nav > li > a {
         padding-top: 1em !important;
         padding-bottom: 1em !important;
    }
}
.navbar-nav .collapsible ul{
    position: absolute !important;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] ,.fb-comments span:first-child{
    width: 100% !important;
}
#target-comments{
    overflow-y: auto;
    height: 436px;
}
.fb-page,
.fb-page span,
.fb-page span iframe[style] {
    width: 100% !important;
}

.cart-count{
    border-radius: 10px;
    background-color: #999;
    float: right;
    width: 20px;
    text-align: center;
}
.shop-cart .dropdown-toggle{
    color: #000;
    padding: 0 !important;
}
.shop-cart .dropdown-cart{
    top: 28px;
    border-top: none;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    width: 250px;
    right: 0!important;
    left: auto !important;
}
.dropdown-cart .item-left, .dropdown-cart .item-right{
}
.dropdown-cart .item-left img{
    vertical-align: top;
    display: inline-block;
}

.dropdown-cart .item-right {
     position: absolute;
     right: 0;
     top: 0;
 }
.dropdown-cart .item-right .btn{
    padding: 14px;
}
.dropdown-cart .item-info{
    display: inline-block;
    width: 190px;
}
.dropdown-cart .name {
    /* display: inline; */
    margin-top: 4px;
    margin-bottom: 2px;
    padding-right: 30px;
}
.dropdown-cart .item{
    margin-bottom: 5px;
    position: relative;
}
.dropdown-cart .option{
    display: inline;
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.header-box{
    padding-top: 45px;
    padding-bottom: 19px;
    background: url("../img/logo.png") no-repeat;
    background-position: center 0px;
    background-size: 15%;
}
.nav-side{
    list-style-type: none;

}
.nav-side:before{
    content: " ";
    display: table;
}
.nav-side > li {
    position: relative;
    display: block;
}
.nav-side li{
    display: inline-block;
}
.nav-side > li > a{
     border-bottom: 3px solid transparent;
     color: #000;
    position: relative;
    display: block;
    padding: 1em;
 }
 .box-search input{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
 border: 1px solid rgba(0, 0, 0, 0.43);
}
.box-search .btn-search{
    position: absolute;
    right: 5px;
    width: 25px;
    height: 100%;
    z-index: 10;
}
.navbar-collapse-center{
    border-top: 1px solid;
}
.navbar-collapse-center .dropdown-menu{
    box-shadow: none;
    border: 1px solid;
    border-radius: 0;
}
.navbar-collapse-center .navbar-collapse-cat > ul > li > ul.dropdown-menu{
    border-top: none;
}
#quickmenu {
    position: absolute;
    top: 45px;
    width: 73px;
    background: #fff;
    z-index: 21;
    right: -80px;
}
#quickmenu ul{
    list-style-type: none;
}
/* quick */
#quickmenu.fix {position:fixed;top:0;}
#quickmenu.view {margin-left:477px;}
#quickmenu .quicklist {background:#fcfcfc;border:1px solid #eeeeee;border-top:0;}
#quickmenu .quicklist li {position:relative;border-top:1px solid #eeeeee;}
#quickmenu .quicklist li a {display:block;width:71px;height:22px;padding-top:40px;font-size:11px;line-height:12px;color:#999999;text-align:center;background:url('../images/bg_quickmenu.png') no-repeat;}
#quickmenu .quicklist li.cart a {background-position:0 0;}
#quickmenu .quicklist li.wishlist a {background-position:0 -63px;}
#quickmenu .quicklist li.coupon a {background-position:0 -126px;}
#quickmenu .quicklist li.vipinfo a {padding-top:33px;height:29px;background-position:center -189px;}
#quickmenu .quicklist li.proinfo a {background-position:center -239px;}
#quickmenu .quicklist li .n {display:inline-block;position:absolute;left:36px;top:13px;width:22px;height:22px;font-family:tahoma;font-weight:bold;font-size:10px;color:#ffffff;line-height:22px;letter-spacing:-1px;background:url('../images/btn_rollingctrl.png') no-repeat -50px 0;}
#quickmenu .quicklist li.cart .n {top:19px;background-position:-75px 0;}
#quickmenu .quicklist li.vipinfo .n {top:10px;}
#quickmenu .title {height:21px;text-align:center;line-height:21px;margin-top:0;padding-bottom:0;font-size:11px;font-weight:normal;color:#fff;background:#000;}
#quickmenu .recentlyPrd {position:relative;padding:7px 9px 9px;background:#fcfcfc;border:1px solid #eeeeee;border-bottom:0;}
#quickmenu .recentlyPrd .prdlist {overflow:hidden;position:relative;/*height:165px;*/}
#quickmenu .recentlyPrd .prdlist ul {width:500px;}
#quickmenu .recentlyPrd .prdlist li {float:left;}
#quickmenu .recentlyPrd .prdlist li .li {padding-top:3px;}
#quickmenu .recentlyPrd .prdlist img {width:50px;height:50px;border:1px solid #f3f3f3;}
#quickPrdCtrl {/*position:absolute;left:0;bottom:9px;*/margin-top:8px;width:100%;text-align:center;}
#quickPrdCtrl .prev {margin-right:2px;}
#quickPrdCtrl2 {/*position:absolute;left:0;bottom:9px;*/margin-top:8px;width:100%;text-align:center;}
#quickPrdCtrl2 .prev {margin-right:2px;}
#quickmenu .btn_toggle {display:block;text-align:center;border:1px solid #eeeeee;}
#quickmenu .btn_toggle a {display:block;}
#quickmenu .btn_toggle a span {display:inline-block;padding-top:1px;padding-right:9px;line-height:19px;font-size:11px;color:#666666;background:url('../images/btn_rollingctrl.png') no-repeat;}
#quickmenu .btn_toggle .close span {background-position:26px -80px;}
#quickmenu .btn_toggle .open span {background-position:-19px -80px}
#quickmenu .btn_toggle .close {display:none;}
#quickmenu .btn_toggle.show .close {display:block;}
#quickmenu .btn_toggle.show .open {display:none;}
#quickmenu .btn_top {display:block;}
#quickmenu .btn_top a {display:block;height:14px;padding-top:6px;text-align:center;border:1px solid #eeeeee;border-top:0;}

.carousel-inner .img {
    padding: 5px;
}
.carousel-control .fa{
    color: #000;
    padding: 15px;
    font-size: 35px;
    background-color: transparent;
}
.p-item{
    color: #333333;
    text-align: center;
    padding: 5px;
}
.p-item .brdname {
    display: block;
    margin: 0 auto;
}
.p-item .prdname {
    display: block;
    margin: 1px auto 0;
    color: #333333;
    line-height: 16px;
}
.p-item .price {
    display: block;
    margin-top: 4px;
}
.p-item .price .default {
    display: inline-block;
    margin-right: 3px;
    color: #999999;
    text-decoration: line-through;
}
.slide-item{
    /*border-bottom: 1px solid #000000;*/
}
.slide-item .has-icon{
    padding-left: 0;
    position: relative;
}
.slide-item .panel-heading [class*="col-xs-"]{
    padding-left: 2px;
    padding-right: 2px;
}
.slide-item .panel-heading{
    color: #000000;
}
.slide-item .panel-heading > a{
    color: #000000;
    position: absolute;
    padding-right: 10px;
    background-color: #fff;
    /*background: url("../images/bg.jpg");*/
    z-index: 10;
    font-weight: bold;
}
.slide-item .panel-heading > small{
    position: absolute;
    right: 0;
    background-color: #fff;
    /*background: url("../images/bg.jpg");*/
    z-index: 10;
    top: 15px;
    padding-left: 10px;
}
.slide-item .panel-heading hr{
    margin-top: 5px;
    border-top: 1px solid #000000;
}
#brand-sidebar .panel-heading{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid #000000;
    /*background-image: url(../images/icon.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: -10px -254px;*/
}
#brand-sidebar .panel-body{
    padding: 0;
    border-bottom: 1px solid #000000;
}
#brand-sidebar .panel-body .list-group-item{
    padding: 5px;
    border: none;
}
#brand-sidebar .panel-body .list-group-item a{
    color: #000000;
    font-size: 13px;
    line-height: 20px;
}
#brand-sidebar .panel-body .list-group-item a:hover{
    color: #F168AA;
}

footer{
    margin-top: 50px;
}
.footer-nav{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    list-style-type: none;

}
footer .footer-container{
    border-top: 2px solid #000000;
    border-bottom: 1px solid #adadad;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    /*border-top: 2px solid #000000;*/
    /*border-bottom: 1px solid #000000;*/
}
.footer-nav li{
    display: inline;
    float: right;
    padding-left: 32px;
}
.footer-nav li a{
    display: block;
    height: 34px;
    line-height: 34px;
    font-size: 11px;
    color: #333;
}
.ico_sns {
    display: inline-block;
    background: url('../images/sns.png') no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}
.ico_sns.sns-facebook{
    width: 14px;
    height: 24px;
    background-position: -51px -2px;
}
.ico_sns.sns-blogs{
    width: 28px;
    height: 24px;
    background-position: -2px -34px;
}
.ico_sns.sns-youtube{
    width: 34px;
    height: 24px;
    background-position: -65px -37px;
}
#footer-info{
    padding-top: 25px;
    background-color: #000000;
}
.fcol-01 ul{
    list-style-type: none;
}
.fcol-01 h1{
    color: #fff;
    font-size: 20px;
}
.fcol-01 ul{
    color: #fff;
}
.fcol-01 li {
    padding: 5px;
}
.m-b-30{
    margin-bottom: 30px;
}
.c-pink{
    color: #f60b7d;
}
.productDetail>.panel-heading{
    padding: 10px 0px;
}
.productDetail .panel-heading h2 {
    font-weight: normal;
    font-size: 20px;
    color: #000;
}
.productDetail .panel-heading h2 small{
    font-weight: bold;
    font-family: tahoma;
    font-size: 11px;
}
.productDetail .panel-heading .des {
    margin-top: 8px;
    line-height: 16px;
}
.productDetail .prod-detail{
    border-top: 2px solid #000;
}
.detail{
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.relation{
    border-bottom: 2px solid #000;
    margin-bottom: 20px;
}
.summaryinfo{
    margin-top: 25px;
}
.summaryinfo dl {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.summaryinfo dl dt, .summaryinfo dl dd {
    float: left;
    line-height: 14px;
    font-size: 12px;
}
.summaryinfo dl dt{
}
.summaryinfo dl dd{
}
.summaryinfo .select-qty {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 24px;
    vertical-align: middle;
    text-align: left;
}
.summaryinfo .select-qty input {
    width: 108px;
    height: 24px;
    padding: 0;
    padding-left: 15px;
    border: 1px solid #e4e4e4;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 22px;
    vertical-align: top;
    font-family: 'Tahoma', sans-serif;
}
.summaryinfo .select-qty button.minus {
     left: 0px;
 }
.summaryinfo .select-qty button.plus {
      right: 0px;
  }
.summaryinfo .select-qty button {
    position: absolute;
    top: 0px;
    border: 0;
    padding: 0;
    width: 25px;
    height: 24px;
    vertical-align: top;
    border: 1px solid #e4e4e4;
    background-color: #fff;
}
.summaryinfo .total .t {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}
.summaryinfo .total em {
    display: inline-block;
    font-weight: bold;
    font-family: tahoma;
    font-size: 18px;
    color: #f60b7d;
    letter-spacing: -1px;
    font-style: normal;
}
.summaryinfo .total small{
    font-size: 10px;
    font-weight: bold;
}
.summaryinfo .btnwrap {
    margin-top: 40px;
    margin-left: -3px;
    text-align: center;
}
.btn-bink{
    background-color: #EF3E96;
    color: #fff
}
.btn-blue{
    background-color: #46629E;
    color: #fff
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-top-color: #f60b7d;
    border-bottom-color: #fff;
    color: #f60b7d;
    cursor: default;
}